<?xml version="1.0" encoding="UTF-8"?>
<web-app>

<servlet>
<servlet-name>TimePassServlet</servlet-name>
<servlet-class>com.servletdemo.TimePassServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>TimePassServlet</servlet-name>
<url-pattern>TimePassServlet</url-pattern>
</servlet-mapping>

</web-app>